body {
  font-family: Courier, monospace;
  

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 5rem;

  /* włącz tło, aby było widać blur i mix-blend-mode */
  background-color: yellow;
  /*
  background-image: url("../FIAH5.png");
  background-size: cover;
  background-position: center;
  */
}

/* fixed = przyklejone do okna przeglądarki */
 /*
  body::before {
  content: "";
  position: fixed;           
  top: 0px;               
  left: 0px;               
  width: 3160px;              
  height: 1832px;             
  background-image: url("https://selfdestructswag4.github.io/slowalecastrumieniem/FIAH5.png");
  background-size: cover;
  background-position: center;
  z-index: -2;              
}
*/

    .video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* wideo wypełnia całe tło bez zniekształceń */
      z-index: -1; /* umieszcza wideo pod treścią */
    }


.animan {
  width: 100%;
  height: auto;
  animation: mymove 2s infinite alternate ease-in-out;
}

@keyframes mymove {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}



.image-box {
  width: 300px;
  height: 200px;
  background: url("FIAH5.png") no-repeat center / cover;
  border: 1px solid black; /* żeby było widać obramowanie */
}

img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-top: 20px;
  border: 1px solid black; /* obramowanie dla lepszej widoczności */
  opacity: 0.5;
}


textarea {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 200px;
  background: rgba(255, 244, 0, 0.3); /* transparent z lekkim kolorem */
  color: white;
  font-size: 25px;
  mix-blend-mode: difference;
  border: 1px solid #cccccc;
  outline: none;
  padding: 70px;
}
