body {
  font-family: Courier, monospace;
  

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  margin: 0;
  padding: 5rem;

  /* włącz tło, aby było widać blur i mix-blend-mode */
  background-color: yellow;
  /*
  background-image: url("../FIAH5.png");
  background-size: cover;
  background-position: center;
  */
}

body::before {
  content: "";
  position: fixed;           /* fixed = przyklejone do okna przeglądarki */
  top: 0px;                 /* przesunięcie od góry okna */
  left: 0px;               /* przesunięcie od lewej */
  width: 3160px;              /* szerokość obrazka */
  height: 1832px;             /* wysokość obrazka */
  background-image: url("https://selfdestructswag4.github.io/slowalecastrumieniem/FIAH5.png");
  background-size: cover;
  background-position: center;
  z-index: -1;               /* za zawartością strony */
}

.animan {
  width: 100%;
  height: auto;
  animation: mymove 2s infinite alternate ease-in-out;
}

@keyframes mymove {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}



.image-box {
  width: 300px;
  height: 200px;
  background: url("FIAH5.png") no-repeat center / cover;
  border: 1px solid black; /* żeby było widać obramowanie */
}

img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin-top: 20px;
  border: 1px solid black; /* obramowanie dla lepszej widoczności */
}


textarea {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 200px;
  background: rgba(0,0,0,0.3); /* transparent z lekkim kolorem */
  color: white;
  font-size: 18px;
  mix-blend-mode: difference;
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px;
}
