body {
  font-family: Courier, monospace;
  

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  margin: 0;
  padding: 5rem;

  /* włącz tło, aby było widać blur i mix-blend-mode */
  background-color: yellow;
  /*
  background-image: url("../FIAH5.png");
  background-size: cover;
  background-position: center;
  */
}

body::before {
  content: "";
  position: fixed;           /* fixed = przyklejone do okna przeglądarki */
  top: 50px;                 /* przesunięcie od góry okna */
  left: 100px;               /* przesunięcie od lewej */
  width: 3160px;              /* szerokość obrazka */
  height: 1832px;             /* wysokość obrazka */
  background-image: url("FIAH5.png");
  background-size: cover;
  background-position: center;
  z-index: -1;               /* za zawartością strony */
}

textarea {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 200px;
  background: rgba(0,0,0,0.3); /* transparent z lekkim kolorem */
  color: white;
  font-size: 18px;
  mix-blend-mode: difference;
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px;
}
